  .line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
  }
  .chartborder{
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 25px;
    top: 80px;
    left: 230px;
    overflow: hidden;
    background-color: rgba(251, 251, 251, 0.77);
    width: 80%;
    height: auto;
    margin: auto;
  }
  .line {
    fill: none;
    stroke-width: 3px;
  }
  
  .overlay {
    fill: none;
    pointer-events: all;
  }
  
  .hover-line {
    stroke: #B74779;
    stroke-width: 2px;
    stroke-dasharray: 3,3;
  }