.item {
    padding-top: 5px;
}

.line {
    display: flex;
    flex-direction: column;
}

#add {
    padding: 5px;
}

#quantity {
    margin-left: 5px;
    margin-top: 5px;
}

#quantity {
    margin-top: 5px;
}

.textitem {
    padding-top: 20px;
    padding-left: 80px;
    display: inline-block;
} 

.textquantity {
    padding-top: 20px;
    padding-left: 140px;
    display: inline-block;
    padding-right: 40px;
}
.submit{
    padding-right: 5px;
    text-align: right;
}