.caption {
    text-align: center;
}

.nav {
    padding: 6px;
    position: absolute;
    top: 0px;
    right: 0px;
}

.border {
    background-color: rgb(17, 17, 17, .6);
    color: #fff;
    padding: 8px;
    width: 100%;
    margin: 0 auto;
    font-style: oblique;
    font-size: 25px;
    letter-spacing: 10px;
}
