
.items {
    display: inline-block;
    display: flex;
    flex-direction: column;
}

.quantities {
    padding-left: 2px;
    display: inline-block;
    display: flex;
    flex-direction: column;

}

.insertion {
    display: block;
    display: flex;
    align-items: baseline;
}