
.outbounditems {
    display: inline-block;
    display: flex;
    flex-direction: column;
}

.outboundquantities {
    padding-left: 2px;
    display: inline-block;
    display: flex;
    flex-direction: column;

}

.outbound {
    display: block;
    display: flex;
    align-items: baseline;
}