html {
    height: 100%;
    width: auto;
}

body {
    background-size: cover;
    background: #444242;
    ;
    width: auto;
    height: 100%;
    margin: 0;
}

#navbar {
    display: flex;
    align-content: space-between;
    background-color: rgba(12, 12, 12, 0.7);
    padding: 6px;
    margin-bottom: 30px;
    overflow: hidden;
    width: auto;
    display: inline;
}

#navbar #logout {
    float: right;
}

.navc {
    padding: 4px;
}

.active {
    background-color: transparent;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: none;
    border: 1px solid;
    border-radius: 4px;
    cursor: pointer;
}

.active:hover {
    background: white;
    border: 1px solid #ccc;
    color: #333;
}

.centre {
    display: flex;
    align-content: center;
}

.caption {
    text-align: center;
}

.border {
    color: #fff;
    padding: 8px;
    font-style: oblique;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    height: 100%;
}

#content {
    height: 80%;
}

.displaymessage {
    display: flex;
    justify-content: center;

}

.displaytable {
    display: flex;
    justify-content: center;
}
